@font-face {
  font-family: "overlock";
  src: url(../fonts/overlock/overlock.ttf);
}
@font-face {
  font-family: "raster";
  src: url(../fonts/raster/raster.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #1e1e1e;
  font-family: overlock, sans-serif;
}

#all-card {
  max-width: 1300px;
  margin: 0 auto;
}
@media (width < 1060px) {
  #all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}

#little-cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
@media (width < 1060px) {
  #little-cards {
    flex-direction: column;
    align-items: center;
  }
}

@font-face {
  font-family: "overlock";
  src: url(../fonts/overlock/overlock.ttf);
}
@font-face {
  font-family: "raster";
  src: url(../fonts/raster/raster.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #1e1e1e;
  font-family: overlock, sans-serif;
}

#all-card {
  max-width: 1300px;
  margin: 0 auto;
}

@media (width < 1060px) {
  #all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
#little-cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

@media (width < 1060px) {
  #little-cards {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  background: #050505;
  color: #a0a4ef;
  border: 1px solid #a0a4ef;
  box-shadow: 0px 0px 14px rgba(160, 164, 239, 0.5);
  border-radius: 8px;
}

@font-face {
  font-family: "overlock";
  src: url(../fonts/overlock/overlock.ttf);
}
@font-face {
  font-family: "raster";
  src: url(../fonts/raster/raster.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #1e1e1e;
  font-family: overlock, sans-serif;
}

#all-card {
  max-width: 1300px;
  margin: 0 auto;
}

@media (width < 1060px) {
  #all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
#little-cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

@media (width < 1060px) {
  #little-cards {
    flex-direction: column;
    align-items: center;
  }
}
.main-card {
  position: relative;
  height: 60vh;
  padding: 20px;
  width: 80%;
  margin: 50px auto;
}
@media (width < 1060px) {
  .main-card {
    width: 500px;
    height: 250px;
  }
}
.main-card h1 {
  font-size: 3rem;
}
.main-card h2 {
  font-size: 2rem;
}
.main-card p {
  margin-top: 20px;
  font-size: 2rem;
}
.main-card p span {
  display: block;
  font-family: raster, sans-serif;
  color: bisque;
  margin-top: 10px;
}
.main-card img {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid #a0a4ef;
  box-shadow: 0px 0px 14px rgba(160, 164, 239, 0.5);
  border-radius: 8px;
  border-radius: 1000px;
  top: 100px;
  right: 100px;
}
@media (width < 1060px) {
  .main-card img {
    width: 100px;
    height: 100px;
    top: 20px;
  }
}
@media (width < 650px) {
  .main-card img {
    display: flex;
  }
}

@font-face {
  font-family: "overlock";
  src: url(../fonts/overlock/overlock.ttf);
}
@font-face {
  font-family: "raster";
  src: url(../fonts/raster/raster.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #1e1e1e;
  font-family: overlock, sans-serif;
}

#all-card {
  max-width: 1300px;
  margin: 0 auto;
}

@media (width < 1060px) {
  #all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
#little-cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

@media (width < 1060px) {
  #little-cards {
    flex-direction: column;
    align-items: center;
  }
}
.second-card {
  position: absolute;
  width: 500px;
  height: 250px;
  top: -200px;
  left: 0;
  padding: 20px;
  font-size: 2rem;
}
.second-card span, .second-card i {
  color: #a0a4ef;
}
.second-card span {
  font-weight: bold;
}
.second-card ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  color: whitesmoke;
}
@media (width < 1060px) {
  .second-card {
    position: static;
    margin-bottom: 20px;
  }
}
.second-card a {
  text-decoration: none;
  color: whitesmoke;
}
.second-card a:hover {
  transform: scale(2);
}
.second-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

@font-face {
  font-family: "overlock";
  src: url(../fonts/overlock/overlock.ttf);
}
@font-face {
  font-family: "raster";
  src: url(../fonts/raster/raster.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #1e1e1e;
  font-family: overlock, sans-serif;
}

#all-card {
  max-width: 1300px;
  margin: 0 auto;
}

@media (width < 1060px) {
  #all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
#little-cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

@media (width < 1060px) {
  #little-cards {
    flex-direction: column;
    align-items: center;
  }
}
.third-card {
  position: absolute;
  width: 500px;
  height: 250px;
  padding: 20px;
  font-size: 2rem;
  top: -100px;
  right: 200px;
}
@media (width < 1125px) {
  .third-card {
    position: static;
  }
}
.third-card ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  color: whitesmoke;
}
.third-card ul a {
  text-decoration: none;
  color: whitesmoke;
}
.third-card ul a:hover {
  transform: scale(2);
}
.third-card ul i {
  color: #a0a4ef;
}/*# sourceMappingURL=style.css.map */