.main-card{
    width: 70%;
    margin: 40px;
}
.main-card-with-carmander{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    @media (width < 750px) {
        flex-direction: column;
    }
}