.second-card{
    margin: 0 auto;
}
.second-card-with-bulbasaur{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.nes-bulbasaur{
    margin-left: 20px;
    transform: scaleX(-1);

}