.third-class-with-squirtle{
    display: flex;
    align-items: center;
    @media (width < 750px) {
        flex-direction: column;
        margin-bottom: 50px;
    }
}
.nes-squirtle{
    margin-left: 20px;
}