* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Sometype Mono", monospace;
}
caption {
  margin: 10px;
}
table {
  border: 3px solid violet;
  border-collapse: collapse;
  text-align: center;
}
.table-countainer, .Guibli-countainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

th {
  background-color: rgba(0, 255, 255, 0.479);
  border: 2px solid black;
  padding: 10px;
}
td {
  border: 1px solid black;
  padding: 6px;

}
