* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
h1 {
  color: red;
  margin: 20px;
}
img {
  border-radius: 20px;
  width: 200px;
  margin: 20px;
  box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.71);
}
#contenu p {
  padding: 20px;
  
}
a{
  padding: 20px;
  color: red;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}
a:hover{
  color: blue;
}
#contenu {
  background: rgba(128, 128, 128, 0.158);
  margin: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.71);

}
#contenu + div {
  text-align: right;
  margin: 20px;
}
